*{
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 18px;
    font-weight: 500;
}
body{
    margin: 0px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-todo{
    border: solid 2px rgb(157, 155, 155);
    border-radius: 5px;
    padding: 30px 40px;
    width: 25%;
    min-width: 500px;
    max-height: 600px;
}
.container-todo p{
    margin: 5px;
}
.nova-tarefa-container{
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0px 15px 30px rgba(0,0 ,0,0.3);
    display: flex;
}
.nova-tarefa-container input{
    flex: 3;
    font-size: 1rem;
    border: 2px solid rgb(209, 210, 211);
    border-radius: 5px;
    padding: 12px;
}
.nova-tarefa-button{
    flex: 1;
    border-radius: 5px;
    height: 100%;
    border: none;
    padding: 12px;
    margin-left: 10px;
    border: 2px solid rgb(209, 210, 211);
    background: rgb(180, 185, 221);
    cursor: pointer;
}
.container-tarefas{
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0 ,0,0.3);
    max-height: 350px;
    overflow: scroll;
}
.check-tarefa{
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
}
.check-tarefa:checked + .paragrafo-tarefa{
    text-decoration: line-through;
}
.div-tarefa{
    align-items: center;
    display: flex;
    text-transform: uppercase;
    
}
