body{
    background-color: grey;
    margin: 0px;
}

#container-todo{
    margin: 0 auto;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
li{
    text-align: start;
}